#!/usr/bin/make -f

# Building on Raspberry Pi can cause error from dwz 0.12-3 due to missing debug info section 
# Workaround is to install package "dwz" from buster-backports 
# see: http://marksrpicluster.blogspot.com/2019/12/add-buster-backports-to-raspberry-pi.html 

export CONFIG=Release
export CXXFLAGS="-march=native"
export CFLAGS="-march=native"

%:
	dh $@

override_dh_auto_build:
	./setupcmake.sh && cmake --build build --config ${CONFIG} -j `nproc`

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	dh_clean
