[submodule "jamulus/src"]
	path = jamulus/src
	url = https://github.com/corrados/jamulus.git
[submodule "sonobus/src"]
	path = sonobus/src
	url = https://github.com/essej/sonobus.git
	branch = main
[submodule "aj-snapshot/src"]
	path = aj-snapshot/src
	url = git://git.code.sf.net/p/aj-snapshot/code
[submodule "jacktrip/src"]
	path = jacktrip/src
	url = https://github.com/jacktrip/jacktrip.git
[submodule "jamtrip/src"]
	path = jamtrip/src
	url = https://github.com/vicwomg/jamtrip.git
	branch = main
[submodule "jamtaba/src"]
	path = jamtaba/src
	url = https://github.com/elieserdejesus/JamTaba.git
[submodule "jamtaba/minimp3"]
	path = jamtaba/minimp3
	url = https://github.com/fredrikhederstierna/minimp3.git
[submodule "jamtaba/vst3sdk"]
	path = jamtaba/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "jamtaba/VST_SDK_2.4"]
	path = jamtaba/VST_SDK_2.4
	url = https://github.com/R-Tur/VST_SDK_2.4.git
[submodule "qjacktrip/src"]
	path = qjacktrip/src
	url = https://github.com/jacktrip/jacktrip.git
[submodule "jammernetz/src"]
	path = jammernetz/src
	url = https://github.com/christofmuc/JammerNetz.git
[submodule "hpsjam/src"]
	path = hpsjam/src
	url = https://github.com/hselasky/hpsjam.git
[submodule "jackd2/src"]
	path = jackd2/src
	url = https://github.com/jackaudio/jack2.git
[submodule "alsa-utils/src"]
	path = alsa-utils/src
	url = https://github.com/alsa-project/alsa-utils.git
[submodule "alsa-lib/src"]
	path = alsa-lib/src
	url = https://github.com/alsa-project/alsa-lib.git
[submodule "alsa-topology-conf/src"]
	path = alsa-topology-conf/src
	url = https://github.com/alsa-project/alsa-topology-conf.git
[submodule "midipp/src"]
	path = midipp/src
	url = https://github.com/hselasky/midipp.git
[submodule "mididings/src"]
	path = mididings/src
	url = https://github.com/sutasu/mididings.git
[submodule "rosegarden/src"]
	path = rosegarden/src
	url = https://salsa.debian.org/multimedia-team/rosegarden.git
