[submodule "jamulus/src"]
	path = jamulus/src
	url = https://github.com/corrados/jamulus.git
[submodule "sonobus/src"]
	path = sonobus/src
	url = https://github.com/essej/sonobus.git
[submodule "aj-snapshot/src"]
	path = aj-snapshot/src
	url = git://git.code.sf.net/p/aj-snapshot/code
