[Desktop Entry]
Name=qjacktrip
Comment=High Quality Network Audio Streaming 
GenericName=Network Audio Streaming Software
Exec=qjacktrip
Icon=qjacktrip
Terminal=false
Type=Application
Categories=Audio;Mixer;
Keywords=live;online;music;conference;
