#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@

override_dh_auto_configure:
	cd PROJECTS/Standalone && qmake INCLUDEPATH+=../../minimp3 INCLUDEPATH+=/usr/include/miniupnpc SOURCEDIR+=../../minimp3 SOURCES+=../../minimp3/minimp3.c Standalone.pro
	cd PROJECTS/VstScanner && qmake VstScanner.pro

override_dh_auto_build:
	cd PROJECTS/Standalone && make -j`nproc`
	cd PROJECTS/VstScanner && make -j`nproc`

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	dh_clean
