#!/usr/bin/make -f

export QT_SELECT=qt5
export DEB_BUILD_OPTIONS=nostrip

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build && cd build && qmake PREFIX=/usr QMAKE_CFLAGS_ISYSTEM=-I ../HpsJam.pro

override_dh_auto_build:
	cd build && qmake PREFIX=/usr QMAKE_CFLAGS_ISYSTEM=-I ../HpsJam.pro && make clean
	cd build && qmake PREFIX=/usr QMAKE_CFLAGS_ISYSTEM=-I ../HpsJam.pro && make -j`nproc` all

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	rm -rf build
	dh_clean
