#!/usr/bin/make -f

export QT_SELECT=qt5

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build && cd build && qmake HAVE_JACK=1 HAVE_ALSA=1 HAVE_STATIC=1 PREFIX=/usr/local LIBUMIDIPATH=../libumidi QMAKE_CFLAGS_ISYSTEM=-I -o Makefile.unix ../midipp.pro

override_dh_auto_build:
	cd build && make -j`nproc` -f Makefile.unix all

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	rm -rf build
	dh_clean
