#!/usr/bin/make -f

export CONFIG=Release
#export CFLAGS="-march=native"

%:
	dh $@

override_dh_auto_build:
	./setupcmake.sh && cmake --build build --config ${CONFIG} -j `nproc`

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	dh_clean
