Source: sonobus
Section: sound
Priority: optional
Maintainer: "Kevin Doren" <kevin@doren.org>
Build-Depends:
 build-essential,
 debhelper (>= 11),
 dh-exec,
 libopus-dev,
 libcurl4-dev,
 libxrandr-dev,
 libxinerama-dev,
 libxcursor-dev,
 libcurl4-openssl-dev
Standards-Version: 3.9.7
Homepage: https://www.sonobus.net
Vcs-Git: git://github.com/essej/sonobus.git
Vcs-Browser: https://github.com/essej/sonobus.git

Package: sonobus
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Low latency peer-to-peer audio streaming.
 SonoBus is an easy to use application for streaming high-quality,
 low-latency peer-to-peer audio between devices
 over the internet or a local network.
